body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0D1317;
    color: #f0f0f0;
}

h1{
    margin-bottom: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #00FFFF;
    text-shadow: 0 0 5px #00FFFF;
}

#pongCanvas{
    background: #000000;
    border: 5px solid #00FFFF;
    border-radius: 8px;
    box-shadow:  0 0 30px rgba(0, 255, 255, 0.7), 0 0 10 rgba(0, 255, 255, 0.4);
}

#startResetButton {
    margin-top: 30px;
    padding: 12x 25px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    background-color: #FF0077;
    color: white;
    border: none;
    border-radius: 50px;
    text-shadow:  0 0 5px #000000;
    transition: background-color 0.3s ease, transform 0. 1s ease, box-shadow 0.3s ease;
}

#startResetButton:hover {
    background-color: #D30063;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 0, 199, 0.8);
}

#startResetButton:active {
    transform: scale(0.98);
}
